body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://cdnbr1.img.sputniknews.com/img/07e5/08/03/17856497_0:510:2560:1894_1000x541_80_0_0_75c0925aa5e3b0ffa8abefd36213d352.jpg");
  background-color: #000000;
  background-size: 180vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffefd5;
  margin: 0 0 2px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: yellow;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #000000;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}

div {
  color: #ffffff;
  font-size: 16px;
}
